variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  GIT_SUBMODULE_STRATEGY: recursive

cache:
  paths:
    - .cache/pip

stages:
  - style-check
  - build
  - test-model

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"

style-check-job:
  stage: style-check
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:dev-trt8.6.1-ngc23.04
  script:
    - cd $CI_PROJECT_DIR
    - pip3 install pre-commit
    - pre-commit run -a

build-tensorrt-llm:
  stage: build
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:dev-trt8.6.1-ngc23.04
  script:
    - cd $CI_PROJECT_DIR
    - python3 tekit/scripts/build_wheel.py -a "80;86"
  artifacts:
    expire_in: 30 mins
    paths:
      - tekit/build

test-gpt-model-job:
  stage: test-model
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:dev-trt8.6.1-ngc23.04
  script:
    - cd $CI_PROJECT_DIR
    - pip3 install --extra-index-url https://pypi.ngc.nvidia.com tekit/build/tensorrt_llm*.whl
    - bash scripts/tests/build_model.sh gpt
    - bash scripts/tests/test.sh gpt tekit/examples/gpt/trt_engine/gpt2/fp16/1-gpu/
  artifacts:
    expire_in: 30 mins
  dependencies:
    - build-tensorrt-llm

test-opt-model-job:
  stage: test-model
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:dev-trt8.6.1-ngc23.04
  script:
    - cd $CI_PROJECT_DIR
    - pip3 install --extra-index-url https://pypi.ngc.nvidia.com tekit/build/tensorrt_llm*.whl
    - bash scripts/tests/build_model.sh opt
    - bash scripts/tests/test.sh opt tekit/examples/opt/trt_engine/opt-125m/fp16/1-gpu/
  artifacts:
    expire_in: 30 mins
  dependencies:
    - build-tensorrt-llm

test-llama-model-job:
  stage: test-model
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:dev-trt8.6.1-ngc23.04
  script:
    - cd $CI_PROJECT_DIR
    - pip3 install --extra-index-url https://pypi.ngc.nvidia.com tekit/build/tensorrt_llm*.whl
    - bash scripts/tests/build_model.sh llama
    - bash scripts/tests/test.sh llama tekit/examples/llama/llama_outputs
  artifacts:
    expire_in: 30 mins
  dependencies:
    - build-tensorrt-llm

test-gptj-model-job:
  stage: test-model
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:dev-trt8.6.1-ngc23.04
  script:
    - cd $CI_PROJECT_DIR
    - pip3 install --extra-index-url https://pypi.ngc.nvidia.com tekit/build/tensorrt_llm*.whl
    - bash scripts/tests/build_model.sh gptj
    - bash scripts/tests/test.sh gptj tekit/examples/gptj/gpt_outputs
  artifacts:
    expire_in: 30 mins
  dependencies:
    - build-tensorrt-llm
