variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  GIT_SUBMODULE_STRATEGY: recursive

cache:
  paths:
    - .cache/pip

stages:
  - style-check
  - build
  - build-model
  - test

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"

style-check-job:
  stage: style-check
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:23.04
  script:
    - cd $CI_PROJECT_DIR
    - pip3 install pre-commit
    - pre-commit run -a

build-tensorrt-llm:
  stage: build
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:23.04
  script:
    - cd $CI_PROJECT_DIR
    - python3 tekit/scripts/build_wheel.py -a "80;86"
  artifacts:
    expire_in: 30 mins
    paths:
      - tekit/build

build-gpt-model-job:
  stage: build-model
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:23.04
  script:
    - cd $CI_PROJECT_DIR
    - pip install tekit/build/tensorrt_llm*.whl
    - bash scripts/tests/build_model.sh GPT
  artifacts:
    expire_in: 30 mins
    paths:
      - tekit/examples
  dependencies:
    - build-tensorrt-llm

test-gpt-job:
  stage: test
  image: gitlab-master.nvidia.com:5005/ftp/tekit_backend/triton:23.04
  script:
    - cd $CI_PROJECT_DIR
    - pip install tekit/build/tensorrt_llm*.whl
    - bash scripts/tests/test.sh GPT tekit/examples/gpt/trt_engine/gpt2/fp16/1-gpu/
  dependencies:
    - build-tensorrt-llm
    - build-gpt-model-job
