--extra-index-url https://pypi.ngc.nvidia.com

coloredlogs
sympy
packaging
protobuf==3.20.1
onnx
yapf==0.32.0
pre-commit
pytest
jupyter
jupyterlab
pycuda
mpi4py
nvtx
transformers==4.22.2
diffusers==0.6.0
colored
polygraphy
mypy
pytest-cov
pytest-xdist
pytest-forked
einops
